@import 'nib'

body
  padding-top: 20px

.btn.primary
  font-weight: bold

.span12.well
  padding: 19px 0

.spinner
  position: absolute
  left: 50%


.preset-delete
  margin-top: 5px;
  height: 20px;
  line-height: 13px;
  font-size: 11px;
  padding: 3px;

textarea#preset_contents
  width: 80%

footer.footer
  margin-top: 45px
  border-top: solid 1px #EEE
  padding-top: 35px

.add-icon
  text-align: center;
  font-size: 12em
  line-height: 0.9em
  color: #08C

.add-icon + p
  text-align: center;
  font-size: 1.5em;

form#new_file, form#new_file input
  position: absolute
  top: -1000px
  opacity: 0
  margin: 0

tr.empty > td
  text-align: center;
  font-weight: bold

a#title
  color: #69D2E7;
  text-shadow: 0px 0px 10px white;

#filetarget
  transition: background-color 0.2s linear, width 0.2s linear
  position: relative
  z-index: 10
  cursor: pointer

  #fileupload
    margin: 25px 15px
    min-height: 50px

    p
      text-align: center
      padding-top: 50px

#filetarget.ready-to-drop
  background-color: #08C
  *
    color: #FFF !important

#files
  margin-top: -25px
  border-color: #3A87AD
  border-top: none
  background-color: #D9EDF7

  legend
    border-bottom: none

  table tbody tr td
    border-top: none



.attributes
  .label
    margin-right: 10px

  a:after
    content: '\00A0\2219\00A0'

  a:last-child
    content: ''

  line-height: 25px

h2
  smooth-button()
  width: 90%
  font-size: 2em
